<div>
  <!-- <h1>
    {{ chapter3Hello }}
  </h1> -->
  <mat-card>
    <mat-card-header>
      <mat-form-field class="body-request">
        <mat-label>Process Type</mat-label>
        <mat-select (selectionChange)="onSelectedProcessorType($event)">
          @for (type of processorType; track $index) {
            <mat-option value="{{ type.processor_name }}">
              {{ type.processor_name }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      @if (twoValueProcessor.includes(selectedProcessorType)) {
        <div>
          <mat-label>C value</mat-label>
          <mat-slider
            min="0"
            max="1"
            step="0.01"
            showTickMarks
            discrete
            [displayWith]="formatLabel"
          >
            <input matSliderThumb />
          </mat-slider>
        </div>
      } @else {
        <div></div>
      }
    </mat-card-header>
    <mat-card-content class="card-content">
      <input
        #fileUpload
        type="file"
        id="file-input"
        (change)="onFileSelected($event)"
      />
      <div class="file-upload">
        {{ fileName || "No file selected yet." }}
        <button
          mat-mini-fab
          color="primary"
          class="upload-btn"
          (click)="fileUpload.click()"
        >
          <mat-icon>attach_file</mat-icon>
        </button>
      </div>
      <div class="result">
        @if (imageState) {
          <div>
            <p>Origin</p>
            <img
              mat-card-image
              [src]="imageProcess['original_image']"
              alt="Selected image"
              class="image-process"
            />
          </div>
          <div>
            <p>Processed</p>
            <img
              mat-card-image
              [src]="imageProcess['processed_image']"
              alt="Selected image"
              class="image-process"
            />
          </div>
        }
      </div>
    </mat-card-content>
    <mat-card-footer>
      <button
        mat-raised-button
        color="primary"
        class="btn-process"
        (click)="onProcessImage()"
      >
        Process
      </button>
    </mat-card-footer>
  </mat-card>
</div>
